<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Lets Roll Out a New Sushi</h1>
        <form action="/sushi" method="POST">
          Name: <input type="text" name="name"><br/>
          Fish: <input type="text" name="color"><br/>
          Is Raw: <input type="checkbox" name="isRaw"><br/>
          <button type="submit">I'm Soy Hungry</button>
        </form>
    
</body>
</html>
